


@media (prefers-color-scheme:light) {
    body {
      background-color: #f5f7ff;
      color: #4b699b;
    }
    .header__container h1 {
      color: #212630;
    }
    .header__container .theme__container .dark {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
    .header__container .theme__container .light {
      display: none;
    }
    .container {
      background: #fefefe;
      -webkit-box-shadow: 0px 6px 9px 0px #d5dff0;
      box-shadow: 0px 6px 9px 0px #d5dff0;
    }
    .search__bar ::placeholder,
    .search__bar ::-moz-placeholder {
      color: #4b699b;
      opacity: 1;
    }
    .search__bar input {
      background-color: #fefefe;
      color: #212630;
    }
    .main__container .gitHub__user--profile .user__info .name {
      color: #2a3341;
    }
    .main__container .gitHub__user--profile .user__info .joined {
      color: #697c9b;
    }
    .main__container .stats__container {
      background-color: #f5f7ff;
    }
    .main__container .stats__container .stats .stats__total {
      color: #2a3341;
    }
    .main__container .info__container {
      color: #4b699b;
    }
    .main__container .info__container .info a {
      color: #4b699b;
    }
  }
  
  @media (prefers-color-scheme: dark) {
    body {
      background-color: #141d2e;
      color: white;
    }
    .header__container h1 {
      color: white;
    }
    .header__container .theme__container .light {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
    .header__container .theme__container .dark {
      display: none;
    }
    .container {
      background: #1e2b48;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    .search__bar ::-webkit-input-placeholder {
      color: white;
    }
    .search__bar :-ms-input-placeholder {
      color: white;
    }
    .search__bar ::-ms-input-placeholder {
      color: white;
    }
    .search__bar ::placeholder {
      color: white;
    }
    .search__bar input {
      background-color: #1e2b48;
      color: white;
    }
    .main__container .gitHub__user--profile .user__info .name {
      color: white;
    }
    .main__container .gitHub__user--profile .user__info .joined {
      color: white;
    }
    .main__container .stats__container {
      background-color: #141d2e;
    }
    .main__container .stats__container .stats .stats__total {
      color: white;
    }
    .main__container .info__container {
      color: white;
    }
    .main__container .info__container .info a {
      color: white;
    }
  }
  